
.formQuestion-container {
  background-color: var(--form-background);
  border: solid var(--form-border) 5px;
  border-radius: 20px;
  padding: 30px;
  margin: 50px;
}
@media screen and (max-width: 780px){
  .formQuestion-container{
    margin: 25px;
  }
}
@media screen and (max-width: 655px){
  .formQuestion-container{
    padding: 20px;
  }
}
@media screen and (max-width: 530px){
  .formQuestion-container{
    padding: 0px;
    padding-bottom: 10px;
  }
}

